/* Variables */
:root {
    --main-bg: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --text-color-one: hsl(228, 12%, 44%);
    --text-color-two: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
    --switcher-place: translateX(21px);
}

.light {
    --main-bg: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --text-color-one: hsl(228, 12%, 44%);
    --text-color-two: hsl(230, 17%, 14%);
    --toggle: hsl(230, 22%, 74%);
}

.dark {
    --main-bg: hsl(230, 17%, 14%);
    --top-bg: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text-color-one: hsl(228, 34%, 66%);
    --text-color-two: hsl(0, 0%, 100%);
    /* CHEQUEAR ESTO CON ATENCION: GRADIENT TOGGLE */
    /* --toggle: hsl(230, 22%, 74%); */
    --toggle: white;
}

body {
    background-color: var(--main-bg);
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    transition-duration: 500ms;
    transition-property: background;
}

/* MAIN GRID */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 40px 200px 30px 200px; */
    grid-template-rows: 120px 200px;
    max-width: 77%;
    margin: auto;

    grid-template-areas: 'header header header header'
                         'main-overview main-overview main-overview main-overview'
                         'today-overview-title today-overview-title today-overview-title today-overview-title'
                         'today-overview today-overview today-overview today-overview';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-overview {
    grid-area: main-overview;
}

.today-overview-title {
    grid-area: today-overview-title;
}

.today-overview {
    grid-area: today-overview;
}

/* SECOND GRID */

.sub-main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    gap: 25px;
    grid-template-areas: 'facebook twitter instagram youtube';
}

.card {
    background: var(--card-bg);
    border-radius: 4px;
    transition-duration: 500ms;
    transition-property: background;
}

.facebook, .twitter, .instagram, .youtube {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.details-content {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.details-content img {
    height: fit-content;
    margin-right: 5px;
}

.details-content p {
    font-size: 11px;
    font-weight: 700;
    color: var(--text-color-one);
}

.followers-content h1 {
    font-size: 3.0em;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--text-color-two);
}

.followers-content p {
    margin-top: 0;
    font-weight: 400;
    font-size: .65em;
    letter-spacing: .45em;
    color: var(--text-color-one);
}

.stats-content {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.stats-content img {
    height: fit-content;
    margin-right: 5px;
}

.stats-content p {
    font-size: 11px;
    font-weight: 700;
}

.facebook {
    grid-area: facebook;
    border-top: 4px solid hsl(208, 92%, 53%);
}

.twitter {
    grid-area: twitter;
    border-top: 4px solid hsl(203, 89%, 53%);
}

.instagram {
    grid-area: instagram;
}

.top-line {
    grid-area: instagram;
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    height: 4px;
    position: relative;
    top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.youtube {
    grid-area: youtube;
    border-top: 4px solid hsl(348, 97%, 39%);
}

/* OVERVIEW TITLE */

.today-overview-title h1 {
    margin-top: 40px;
    font-size: 1.35em;
    color: var(--text-color-one);
}

/* LAST GRID */

.sub-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 110px 110px;
    gap: 25px;
    grid-template-areas: 'fb-views fb-likes ig-likes ig-pviews'
                         'twitter-rt twitter-likes yt-likes yt-tv';
}

.fb-views {
    grid-area: fb-views;
}

.fb-likes {
    grid-area: fb-likes;
}

.ig-likes {
    grid-area: ig-likes;
}

.ig-pviews {
    grid-area: ig-pviews;
}

.twitter-rt {
    grid-area: twitter-rt;
}

.twitter-likes {
    grid-area: twitter-likes;
}

.yt-likes {
    grid-area: yt-likes;
}

.yt-tv {
    grid-area: yt-tv;
}

/* OVERVIEW - TODAY */

.first-line, .last-line {
    display: flex;
    justify-content: space-between;
}

.first-line {
    display: flex;
    align-items: center;
    margin-top: .3em;
}

.first-line p {
    margin: 0 auto 0 0;
    font-size: .8em;
    color: var(--text-color-one);
}

.first-line img {
    margin: 0 .2em 0 auto;
    height: 1.1em;
}

.last-line {
    display: flex;
    align-items: baseline;
}

.last-line h1 {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 0 0;
    font-size: 1.75em;
    color: var(--text-color-two);
}

.last-line p {
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 auto;
}

.increase {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
}

.increase img {
    margin-right: .1em;
}

.increase p {
    font-size: 11px;
}

.ov-cards {
    padding: 1.1em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ov-cards p {
    font-weight: 700;
    margin: 0 auto 0 0;
}



/* DETAILS SEPAIRED PER SECTION */
/* HEADER */

.title-container h1 {
    margin-bottom: 0;
    font-size: 1.55em;
    color: var(--text-color-two);
}

.title-container p {
    font-size: .8em;
    font-weight: 700;
    margin-top: 2px;
    color: var(--text-color-one);
}

.grid-container header {
    display: flex;
    justify-content: space-between;
}

.switcher-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 0;
}

.switcher-container p {
    margin-right: 1em;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color-one);
}

.switcher-container button {
    display: flex;
    align-items: center;
    justify-content: var(--switcher-place);
    outline: none;
}

.switcher-btn {
    width: 42px;
    height: 20px;
    border-radius: 10px;
    border: .2em solid var(--card-bg);
    border-top: .3em solid var(--card-bg);
    border-bottom: .3em solid var(--card-bg);
    border-color: var(--toggle);
    background: var(--toggle);
    padding: 0;
}

.switcher-btn div {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 9px;
    border: none;
    background: var(--card-bg);
    transform: var(--switcher-place);
    transition-duration: 300ms;
    transition-property: transform;
}

[class^="up"] {
    color: hsl(163, 72%, 41%);
}

[class^="down"] {
    color: hsl(356, 69%, 56%);
}

/* HOVERS */

.switcher-btn:hover {
    cursor: pointer;
}
